#wrapper {width: 600px;
}
#wrapper2 {
	width: 200px;
}
#main {margin-top: 10px;}
#sideleft {float: left; width: 33%; border: 1px solid black; background-color: #dddddd;}
#sideright {float: right; width: 33%; border: 1px solid green; background-color: #dddddd;}
#content {border: 1px solid blue; background-color: #dddddd; margin: 0 20px 0 10px;}
.box {
    width: 150px;
    height: 125px;
    background:#ccc;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    margin:20px;
    border: 3px solid red;
    zoom: 1
}
.draggablebox {
	width: 150px;
    height: 125px;
    background:#ccc;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    margin:20px;
    border: 3px solid #60ec4a;
    zoom: 1
}
.droppablebox {
	width: 150px;
    height: 125px;
    background:#ccc;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    margin:20px;
    border: 3px solid #87cefa;
    zoom: 1
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}
.draggablebox img {
	width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}